<header class="organizer-shell__header">
  <mat-toolbar class="organizer-shell__toolbar">
    <span class="organizer-shell__brand">CookOff</span>
    <span class="organizer-shell__spacer"></span>
    <button mat-button type="button" (click)="logOut()">Log out</button>
  </mat-toolbar>
  <nav mat-tab-nav-bar class="organizer-shell__nav" [tabPanel]="tabPanel" aria-label="Primary">
    @for (link of links(); track link.route) {
      <a
        mat-tab-link
        [routerLink]="link.route"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.label }}
      </a>
    }
  </nav>
</header>

<mat-tab-nav-panel #tabPanel>
  <main class="organizer-shell__content">
    <router-outlet />
  </main>
</mat-tab-nav-panel>
